In [1]:
import numpy as np
import pandas as pd

import re

# Load data

In [2]:
data_path = '../data/input/household_power_consumption.txt'

data = pd.read_csv(data_path, sep=';')

/Users/enzoliu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [4]:
data.shape

(2075259, 9)

In [5]:
data.dtypes

Date                      object
Time                      object
Global_active_power       object
Global_reactive_power     object
Voltage                   object
Global_intensity          object
Sub_metering_1            object
Sub_metering_2            object
Sub_metering_3           float64
dtype: object

# clean data

## check the data format

### check Date Time

I want to ensure that all the datatime data is in the right format.

* Date : day(1 or 2 digits)/month(1 or 2 digits)/Year(4 digits) *i.e. 16/12/2006 or 1/1/2017* 
* Time : hour(2 digits)/minute(2 digits)/second(2 digits) *i.e. 17:28:00*

I have create a function to return the data which is not matched the format.

In [6]:
def _check_datatime_form(x, form):
    if not re.match(form, x):
        print(x)

In [7]:
_ = data.Date.apply(_check_datatime_form, form='\d{1,2}/\d{1,2}/\d{4}')

In [8]:
_ = data.Time.apply(_check_datatime_form, form='\d{2}:\d{2}:\d{2}')

**Conclusion:** All the date data is in the right format.

Personally, I like Date format `year/month/day`. It is easier to sort the data. I'm going to cover the Date into this format.

In [9]:
def _covert_date_format(x):
    date_list = x.split('/')
    return date_list[2] + '/' + date_list[1] + '/' + date_list[0]

In [10]:
data.Date = data.Date.apply(_covert_date_format)

In [11]:
data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006/12/16,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,2006/12/16,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,2006/12/16,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,2006/12/16,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,2006/12/16,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

### check the consumption data

I want to make sure that all the consumption data is `float`.

I fond that there are some missing values represented by `?`. I replace them by `NaN`.

In [12]:
data.loc[data.Date == '2007/4/28']

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
190476,2007/4/28,00:00:00,1.368,0.086,233.050,5.800,0.000,1.000,0.0
190477,2007/4/28,00:01:00,1.370,0.086,233.220,5.800,0.000,1.000,0.0
190478,2007/4/28,00:02:00,1.372,0.088,233.570,5.800,0.000,2.000,0.0
190479,2007/4/28,00:03:00,1.370,0.086,233.400,5.800,0.000,1.000,0.0
190480,2007/4/28,00:04:00,1.368,0.086,233.250,5.800,0.000,1.000,0.0
190481,2007/4/28,00:05:00,1.368,0.086,233.170,5.800,0.000,1.000,0.0
190482,2007/4/28,00:06:00,1.370,0.086,233.370,5.800,0.000,1.000,0.0
190483,2007/4/28,00:07:00,1.362,0.084,232.550,5.800,0.000,1.000,0.0
190484,2007/4/28,00:08:00,1.362,0.084,232.430,5.800,0.000,1.000,0.0
190485,2007/4/28,00:09:00,1.366,0.086,233.060,5.800,0.000,2.000,0.0
190486,2007/4/28,00:10:00,1.368,0.086,233.130,5.800,0.000,1.000,0.0
190487,2007/4/28,00:11:00,1.370,0.086,233.440,5.800,0.000,1.000,0.0
190488,2007/4/28,00:12:00,1.478,0.198,233.580,6.400,0.000,1.000,0.0
190489,2007/4/28,00:13:00,1.396,0.210,233.790,6.000,0.000,1.000,0.0
190490,2007/4/28,00:14:00,0.488,0.218,234.790,2.200,0.000,1.000,0.0
190491,2007/4/28,00:15:00,0.492,0.182,235.740,2.200,0.000,1.000,0.0
190492,2007/4/28,00:16:00,0.498,0.204,235.670,2.200,0.000,0.000,0.0
190493,2007/4/28,00:17:00,0.496,0.204,235.630,2.200,0.000,0.000,0.0
190494,2007/4/28,00:18:00,0.494,0.204,235.610,2.200,0.000,0.000,0.0
190495,2007/4/28,00:19:00,0.490,0.202,235.020,2.200,0.000,0.000,0.0
190496,2007/4/28,00:20:00,0.492,0.208,236.240,2.200,0.000,0.000,0.0
190497,2007/4/28,00:21:00,?,?,?,?,?,?,NaN
190498,2007/4/28,00:22:00,?,?,?,?,?,?,NaN
190499,2007/4/28,00:23:00,?,?,?,?,?,?,NaN
190500,2007/4/28,00:24:00,?,?,?,?,?,?,NaN
190501,2007/4/28,00:25:00,?,?,?,?,?,?,NaN
190502,2007/4/28,00:26:00,?,?,?,?,?,?,NaN
190503,2007/4/28,00:27:00,?,?,?,?,?,?,NaN
190504,2007/4/28,00:28:00,?,?,?,?,?,?,NaN
190505,2007/4/28,00:29:00,?,?,?,?,?,?,NaN
...,...,...,...,...,...,...,...,...,...
191886,2007/4/28,23:30:00,?,?,?,?,?,?,NaN
191887,2007/4/28,23:31:00,?,?,?,?,?,?,NaN
191888,2007/4/28,23:32:00,?,?,?,?,?,?,NaN
191889,2007/4/28,23:33:00,?,?,?,?,?,?,NaN
191890,2007/4/28,23:34:00,?,?,?,?,?,?,NaN
191891,2007/4/28,23:35:00,?,?,?,?,?,?,NaN
191892,2007/4/28,23:36:00,?,?,?,?,?,?,NaN
191893,2007/4/28,23:37:00,?,?,?,?,?,?,NaN
191894,2007/4/28,23:38:00,?,?,?,?,?,?,NaN
191895,2007/4/28,23:39:00,?,?,?,?,?,?,NaN
191896,2007/4/28,23:40:00,?,?,?,?,?,?,NaN
191897,2007/4/28,23:41:00,?,?,?,?,?,?,NaN
191898,2007/4/28,23:42:00,?,?,?,?,?,?,NaN
191899,2007/4/28,23:43:00,?,?,?,?,?,?,NaN
191900,2007/4/28,23:44:00,?,?,?,?,?,?,NaN
191901,2007/4/28,23:45:00,?,?,?,?,?,?,NaN
191902,2007/4/28,23:46:00,?,?,?,?,?,?,NaN
191903,2007/4/28,23:47:00,?,?,?,?,?,?,NaN
191904,2007/4/28,23:48:00,?,?,?,?,?,?,NaN
191905,2007/4/28,23:49:00,?,?,?,?,?,?,NaN
191906,2007/4/28,23:50:00,?,?,?,?,?,?,NaN
191907,2007/4/28,23:51:00,?,?,?,?,?,?,NaN
191908,2007/4/28,23:52:00,?,?,?,?,?,?,NaN
191909,2007/4/28,23:53:00,?,?,?,?,?,?,NaN
191910,2007/4/28,23:54:00,?,?,?,?,?,?,NaN
191911,2007/4/28,23:55:00,?,?,?,?,?,?,NaN
191912,2007/4/28,23:56:00,?,?,?,?,?,?,NaN
191913,2007/4/28,23:57:00,?,?,?,?,?,?,NaN
191914,2007/4/28,23:58:00,?,?,?,?,?,?,NaN
191915,2007/4/28,23:59:00,?,?,?,?,?,?,NaN

In [13]:
data = data.replace('?', np.nan)

In [14]:
data.loc[data.Date == '2007/4/28']

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
190476,2007/4/28,00:00:00,1.368,0.086,233.050,5.800,0.000,1.000,0.0
190477,2007/4/28,00:01:00,1.370,0.086,233.220,5.800,0.000,1.000,0.0
190478,2007/4/28,00:02:00,1.372,0.088,233.570,5.800,0.000,2.000,0.0
190479,2007/4/28,00:03:00,1.370,0.086,233.400,5.800,0.000,1.000,0.0
190480,2007/4/28,00:04:00,1.368,0.086,233.250,5.800,0.000,1.000,0.0
190481,2007/4/28,00:05:00,1.368,0.086,233.170,5.800,0.000,1.000,0.0
190482,2007/4/28,00:06:00,1.370,0.086,233.370,5.800,0.000,1.000,0.0
190483,2007/4/28,00:07:00,1.362,0.084,232.550,5.800,0.000,1.000,0.0
190484,2007/4/28,00:08:00,1.362,0.084,232.430,5.800,0.000,1.000,0.0
190485,2007/4/28,00:09:00,1.366,0.086,233.060,5.800,0.000,2.000,0.0
190486,2007/4/28,00:10:00,1.368,0.086,233.130,5.800,0.000,1.000,0.0
190487,2007/4/28,00:11:00,1.370,0.086,233.440,5.800,0.000,1.000,0.0
190488,2007/4/28,00:12:00,1.478,0.198,233.580,6.400,0.000,1.000,0.0
190489,2007/4/28,00:13:00,1.396,0.210,233.790,6.000,0.000,1.000,0.0
190490,2007/4/28,00:14:00,0.488,0.218,234.790,2.200,0.000,1.000,0.0
190491,2007/4/28,00:15:00,0.492,0.182,235.740,2.200,0.000,1.000,0.0
190492,2007/4/28,00:16:00,0.498,0.204,235.670,2.200,0.000,0.000,0.0
190493,2007/4/28,00:17:00,0.496,0.204,235.630,2.200,0.000,0.000,0.0
190494,2007/4/28,00:18:00,0.494,0.204,235.610,2.200,0.000,0.000,0.0
190495,2007/4/28,00:19:00,0.490,0.202,235.020,2.200,0.000,0.000,0.0
190496,2007/4/28,00:20:00,0.492,0.208,236.240,2.200,0.000,0.000,0.0
190497,2007/4/28,00:21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190498,2007/4/28,00:22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190499,2007/4/28,00:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190500,2007/4/28,00:24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190501,2007/4/28,00:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190502,2007/4/28,00:26:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190503,2007/4/28,00:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190504,2007/4/28,00:28:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190505,2007/4/28,00:29:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
191886,2007/4/28,23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191887,2007/4/28,23:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191888,2007/4/28,23:32:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191889,2007/4/28,23:33:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191890,2007/4/28,23:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191891,2007/4/28,23:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191892,2007/4/28,23:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191893,2007/4/28,23:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191894,2007/4/28,23:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191895,2007/4/28,23:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191896,2007/4/28,23:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191897,2007/4/28,23:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191898,2007/4/28,23:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191899,2007/4/28,23:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191900,2007/4/28,23:44:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191901,2007/4/28,23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191902,2007/4/28,23:46:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191903,2007/4/28,23:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191904,2007/4/28,23:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191905,2007/4/28,23:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191906,2007/4/28,23:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191907,2007/4/28,23:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191908,2007/4/28,23:52:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191909,2007/4/28,23:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191910,2007/4/28,23:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191911,2007/4/28,23:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191912,2007/4/28,23:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191913,2007/4/28,23:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191914,2007/4/28,23:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191915,2007/4/28,23:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
cols = ['Global_active_power', 'Global_reactive_power','Voltage', 
        'Global_intensity', 'Sub_metering_1', 'Sub_metering_2','Sub_metering_3']
data[cols] = data[cols].apply(pd.to_numeric)

## create the column `Sub_metering_rest`

`(global_active_power*1000/60 - sub_metering_1 - sub_metering_2 - sub_metering_3)` represents the active energy consumed every minute (in watt hour) in the household by electrical equipment not measured in sub-meterings 1, 2 and 3.

In [16]:
def calcul_sub_metering_rest(global_active_power, sub_metering_1, sub_metering_2, sub_metering_3):
    '''
    calculation of the active energy consumed every minute (in watt hour) 
    in the household by electrical equipment not measured in sub-meterings 1, 2 and 3
    '''
    if np.all(param is not None for param in locals().values()):
        # make sure all the parameters are not None
        return global_active_power*1000/60 - sub_metering_1 - sub_metering_2 - sub_metering_3
    else:
        return None

In [17]:
data['Sub_metering_rest'] = data.apply(lambda x: calcul_sub_metering_rest(x.Global_active_power, x.Sub_metering_1, x.Sub_metering_2, x.Sub_metering_3), axis=1)

In [18]:
data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Sub_metering_rest
0,2006/12/16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0,52.266667
1,2006/12/16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0,72.333333
2,2006/12/16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0,70.566667
3,2006/12/16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0,71.800000
4,2006/12/16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0,43.100000

## set the accuracy limits 
I want to set the limits on the accuracy of these `float` values.
* Global_active_power, Global_reactive_power, Voltage: 0.001
* Sub_metering_rest: 0.1

In [19]:
data = data.round({'Global_active_power':3, 'Global_reactive_power': 3, 'Voltage':3, 'Sub_metering_rest':1})

In [20]:
data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Sub_metering_rest
0,2006/12/16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0,52.3
1,2006/12/16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0,72.3
2,2006/12/16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0,70.6
3,2006/12/16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0,71.8
4,2006/12/16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0,43.1

# save the cleaned data

In [22]:
out_dir = '../data/output/'
out_name = 'cleaned_data.h5'
data.to_hdf(out_dir+out_name, 'v1')